.test-nesting {
  padding: 0;
  width: 1px !important;
  padding-left: 0;
  font-family: serif;
  transform: translate(1, 1, 2) scale(3);
  background: linear-gradient(to top, var(--color)/3, #000);
  background-size:
    0,
    0;
  background-size: 0, 0;
  padding-right: 0.1px;

  &::after { margin: 0; }

  @media (width: 600px)and(600px <= min-width), projection { padding: 0; }

  @media screen and (color),
    projection and (color),
    projection {
    color: red;
  }

  /* abc */
  &:hover {
    color: #fff;
  }
}

.test-policy {
  & > .test {
    margin-block: 1em;
    margin-inline: 1em;
  }
}

[test=2] {
  padding: 1px;

  & > .test {
    margin: 1px;
  }
}

.test1,
.test2:not(.test)::before {
  padding: 0;
  content: '\n';
}

.testA,
.testB:hover { padding: 0; }

.testX,
.testY::before { padding: 0; }

@keyframes foo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.testZ {
  color: blue;

  & > .test { margin: 0; }
  --test: green;

  /* color: red; */
}
